a {
  color: #000;
  &.ais-Highlight mark.ais-Highlight-highlighted {

  }
}

mark {
  font-weight: 600;
  background-color: transparent;
}

nav#page-header {
  // position: fixed;
  // z-index: 9999;

  #navbar {
    justify-content: flex-end;
  }
}


.sidebar {
  border-right: 1px solid #eee;
  padding: 10% 5% 5% 5%;
  height: 100%;
}

.center-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sp-padding-top {
  padding-top: 3rem;
}